<template>
  <div>
    <q-dialog
      v-model="showDialog"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card>
        <div class="bg-primary text-white" style="text-align: right;">
          <q-bar>
            <q-space />
            <q-btn dense flat icon="close" @click="closeDialog" v-close-popup>
              <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
            </q-btn>
          </q-bar>
        </div>

        <q-card-section>
          <div class="text-h6">患者情報</div>
          <q-tabs color="primary" v-model="tab" class="text-teal" align="left">
            <q-tab label="csv data" name="csv" />
            <q-tab label="explain chart" name="explain" />
            <q-tab label="work chart" name="work" />
            <q-tab label="puzzle check" name="puzzle" />
          </q-tabs>
          <q-separator />
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="csv">
              <csv-table />
            </q-tab-panel>
            <q-tab-panel name="explain">
              <line-chart />
            </q-tab-panel>
            <q-tab-panel name="work">
              <line-chart />
            </q-tab-panel>
            <q-tab-panel name="puzzle">
              <check></check>
            </q-tab-panel>
          </q-tab-panels>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import linechart from '@/frontend/components/linechart'
import csv from '@/frontend/components/logged/home/tabs/csv'
import check from '@/frontend/components/logged/home/tabs/check'
import { post } from '@/frontend/libs/post'

export default {
  components: {
    'csv-table': csv,
    'line-chart': linechart,
    'check': check
  },
  name: 'DialogCustom',
  data: () => ({
    showDialog: false,
    maximizedToggle: true,
    tab: 'csv',
    explain: [],
    work: [],
    check: [],
    date: []
  }),
  watch: {
    tab(nv,ov){
      this.datarender()
    }
  },
  methods: {
    openDialog (id) {
      this.$store.commit('setPatientID', id)
      this.showDialog = true
      // idを引数でデータを持ってくる
      let param = new URLSearchParams()
      param.append('patientID', id)
      post('/api/readPatientData', param).then(res => {
        for (let i = 0;i < res.data.length; i++ ) {
          let obj = {}
          console.log(res.data)
          obj.containerID = res.data[i].ContainerID
          obj.explain = JSON.parse('{ "Explain": ' + res.data[i].Explain + ' }').Explain
          obj.work = JSON.parse('{ "Work": ' + res.data[i].Work + ' }').Work
          let str = res.data[i].Check.split('"有り"').join('"yes"')
          str = str.split('"無し"').join('"no"')
          str = str.split('"可"').join('"possible"')
          str = str.split('"不可"').join('"impossible"')
          str = '{ "Check": ' + str + ' }'
          obj.check = JSON.parse(str).Check
          this.explain.push(obj.explain)
          this.work.push(obj.work)
          this.check.push(obj.check)
          this.date.push(res.data[i].Date)
          let val = this.normarization(this.explain)
          this.$store.commit('setresultmulti', {eval: val, name: this.date})
        }
      })
    },
    /*
    selectTab (tabname) {
      this.tab = tabname
      this.datarender()
    },
    */
    datarender() {
      if (this.tab === 'explain') {
        let val = this.normarization(this.explain)
        console.log(val)
        this.$store.commit('setresultmulti', {eval: val, name: this.date})
      } else if (this.tab === 'work') {
        let val = this.normarization(this.work)
        this.$store.commit('setresultmulti', {eval: val, name: this.date})
      } else if (this.tab === 'check') {
        this.$store.commit('setresultmulti', this.check)
      }
    },
    closeDialog () {
      this.showDialog = false
      this.tab = 'csv'
      this.explain = []
      this.work = []
      this.check = []
    },
    normarization (chart) {
      let res = []
      if (this.tab === 'explain' || this.tab === 'work') {
        for(let i = 0;i < chart.length; i++) {
          let max = chart[i][chart[i].length - 1][0]
          let tmp = []
          for (let j = 1;j < chart[i].length; j++) {
            let t = (chart[i][j][0] * 100 / max).toFixed() - 0
            let e = chart[i][j][1]
            tmp.push([t, e])
          }
          res.push(tmp)
        }
      }
      return res
    }
  }
}
</script>

<style lang="scss" scoped>
.md-dialog.md-dialog-fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
}

</style>
