<template>
  <div class="q-pa-md">
    <q-card class="mycard">
      <q-table
        title="患者一覧"
        :data="data"
        :columns="columns"
        row-key="id"
        :filter="filter"
        :loading="loading"
        @row-click="callPatient"
      >
        <template v-slot:top>
          <q-space />
          <q-input filled borderless dense debounce="300" color="primary" label="患者検索" v-model="filter">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
      </q-table>
    </q-card>
    <chartview ref="openDialog" />
  </div>
</template>

<script>
import Dialog from '@/frontend/components/logged/home/chartview'
import { post } from '@/frontend/libs/post'


export default {
  name: 'TableSearch',
  data: () => ({
    loading: false,
    filter: '',
    rowCount: 10,
    columns: [
      {
        name: 'Age',
        required: true,
        label: 'Age',
        align: 'right',
        field: row => row.Age,
        format: val => `${val}`,
        sortable: true
      },
      { name: 'Gender', align: 'center', label: 'gender', field: 'Gender', sortable: true },
      { name: 'Name', label: 'name', field: 'Name', sortable: true }
    ],
    data: [
      {
        id: 1,
        age: 26,
        name: 'Frozen Yogurt',
        gender: '男性'
      },
      {
        id: 2,
        age: 36,
        name: 'Ice cream sandwich',
        gender: '男性'
      },
    ]
  }),
  components: {
    chartview: Dialog
  },
  methods: {
    newUser () {
      window.alert('Noop')
    },
    searchOnTable () {
      this.searched = searchByName(this.data, this.search)
    },
    callPatient (evt, row) {
      let id = row.PatientID
      this.$store.commit('initialize')
      // ダイヤログを開く
      this.$refs.openDialog.openDialog(id)
    }
  },
  created () {
    post('/api/readPassedPatient', {}).then(res => {
      this.data = res.data
      this.searched = this.data
    })
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 100%
</style>
