<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          puzzle tool
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <div v-for="(content, idx) in contents" v-bind:key="idx">
          <q-item clickable tag="a" :href="content.link">
            <q-item-section avatar>
              <q-icon :name="content.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{content.label}}</q-item-label>
              <q-item-label caption>{{content.explain}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
        </div>
        <q-item clickable v-if="login" @click="logout">
          <q-item-section avatar>
            <q-icon name="person_outline" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ログアウト</q-item-label>
            <q-item-label caption>ログアウトします</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" v-else>
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ログイン</q-item-label>
            <q-item-label caption>ログイン画面へ</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
        <!-- ここにコンポーネント -->
        <div :is="contentComponent" style="margin: 15px;" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
  created() {
    this.login = this.$store.state.auth.login
    console.log(this.login)
    // ログイン処理
    // ログインしていた場合
    if(this.login){
      // deploy
      /*
      this.contents.push({ link: '/puzzle-tool-v2/#/logged/home', label: 'ホーム', explain: 'ホームに移動します。', icon: 'home'})
      this.contents.push({ link: '/puzzle-tool-v2/#/logged/logger', label: '塗り絵ログ', explain: '塗り絵のログを取るページに移動します。', icon: 'show_chart' })
      this.contents.push({ link: '/puzzle-tool-v2/#/logged/integral', label: '欠損計算', explain: 'csvファイルから欠損を計算します。', icon: 'poll' })
      */
      // dev
        this.contents.push({ link: '/#/logged/home', label: 'ホーム', explain: 'ホームに移動します。', icon: 'home'})
        this.contents.push({ link: '/#/logged/logger', label: '塗り絵ログ', explain: '塗り絵のログを取るページに移動します。', icon: 'show_chart' })
        this.contents.push({ link: '/#/logged/integral', label: '欠損計算', explain: 'csvファイルから欠損を計算します。', icon: 'poll' })
    }
  },
  data() {
    return {
      leftDrawerOpen: false,
      login: true,
      contents: []
    }
  },
  props: {
    'contentComponent': {}
  },
  methods: {
    logout() {
      this.$store.commit("logout")
      post('/api/logout', {}).then(res => {
        res
        this.$router.push({ path: '/signup' })
      })
    }
  }
}
</script>

<style>

</style>
