<template>
  <div>
    <apexchart type="area" :options="chartoptions" :series="series"></apexchart>
    <!-- <p>{{ basedata }}</p> -->
  </div>
</template>

<script>
export default {
  props: {
    basedata: {}
  },
  created () {
    if (this.$store.state.integral.timeseries.length > 0) {
      this.series = []
      for (let i = 0;i < this.$store.state.integral.timeseries.length; i++) {
        if (this.$store.state.integral.date.length > 0) {
          this.series.push({data: this.$store.state.integral.timeseries[i], name: this.$store.state.integral.date[i] })
        } else {
          this.series.push({data: this.$store.state.integral.timeseries[i] })
        }
      }
    }
  },
  mounted () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'setresult') {
        this.series = [{
          data: this.$store.state.integral.timeseries
        }]
      }
    }),
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'setresultmulti') {
        this.series = []
        for (let i = 0;i < this.$store.state.integral.timeseries.length; i++) {
          if (this.$store.state.integral.date.length > 0) {
            this.series.push({data: this.$store.state.integral.timeseries[i], name: this.$store.state.integral.date[i] })
          } else {
            this.series.push({data: this.$store.state.integral.timeseries[i] })
          }
        }
      }
    })
  },
  watch: {
    basedata (newval, oldval) {
      this.updateChart(newval)
    }
  },
  data () {
    return {
      series: [{
        name: 'eval',
        data: [[]]
      }],
      chartoptions: {
        chart: {
          id: 'vuechart-example'
        },
        yaxis: {
          min: 0,
          max: 5,
          forceNiceScale: true
        }
      },
      base: {}
    }
  },
  methods: {
    updateChart (base) {
      this.series = [{
        data: base
      }]
    }
  }
}
</script>

<style>

</style>
