<template>
  <div class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">Sign in</div>
      </q-card-section>
      
      <q-tabs v-model="selected" class="text-teal" align="left">
        <q-tab label="login" name="login" />
        <q-tab label="sign up" name="signup" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="selected" animated>
        <q-tab-panel name="login">
          <form>
            <q-input filled v-model="form.id" label="ID*" style="margin: 15px;" />
            <q-input filled v-model="form.password" type="password" label="Password*" style="margin: 15px;" />
            <div style="text-align: right;">
              <q-btn style="margin: 15px;" color="primary" @click="submit">送信</q-btn>
            </div>
          </form>
        </q-tab-panel>

        <q-tab-panel name="signup">
          <form>
            <q-input filled v-model="form.id" label="ID*" style="margin: 15px;" />
            <q-input filled v-model="form.password" type="password" label="Password*" style="margin: 15px;" />
            <q-input filled v-model="form.institute" label="Institute(所属機関)*" style="margin: 15px;" />
            <q-input filled v-model="form.masterKey" label="Master Key" style="margin: 15px;" />
            <div style="text-align: right;">
              <q-btn style="margin: 15px;" color="primary"  @click="submit">送信</q-btn>
            </div>
          </form>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
  data () {
    return {
      form: {
        id: '',
        password: '',
        institute: '',
        masterKey: ''
      },
      selected: 'login',
      err: false
    }
  },
  methods: {
    select (selected) {
      this.selected = selected
    },
    submit () {
      let params = new URLSearchParams()
      params.append('ID', this.form.id)
      params.append('Password', this.form.password)
      if (this.selected == 'signup') {
        params.append('Institute', this.form.institute)
        params.append('MasterKey', this.form.masterKey)
        // 送信処理
        post('/api/signup', params).then(res => {
          if (res.data.Sess.length > 0) {
            this.$store.commit('setAuth', res.data.Sess)
            this.$router.push('/logged/home')
          } else {
            this.err = true
          }
        }).catch(res => {
          this.err = true
        })
      } else {
        // 送信処理
        post('/api/login', params).then(res => {
          if (res.data.Sess.length > 0) {
            this.$store.commit('setAuth', res.data.Sess)
            this.$router.push('/logged/home')
          } else {
            this.err = true
          }
        }).catch(res => {
          this.err = true
          this.showNotif()
        })
      }
    },
    showNotif() {
      this.$q.notify({
        message: '入力項目に間違い，不備が有ります．再度入力してください．',
        position: 'bottom-left'
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 100%
</style>