<template>
  <div>
    <Appheader :content-component="signupbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/signup.vue'
import header from '@/frontend/components/header.vue'
export default {
  components: {
    'Appheader': header
  },
  data() {
    return {
      signupbody: body
    }
  }
}
</script>

<style>

</style>