<template>
  <div>
    <vue-dropify accept="*" @upload="setload" />
    <div>
      <q-input v-model="sectionbase" label="カンマ区切りで積文区間の境界を入力" />
      <span class="md-helper-text">例: 50(一箇所の場合) 10,50 (二箇所の場合)</span>
    </div>
    <div style="text-align: right;">
      <q-btn color="primary" v-on:click="process()">送信</q-btn>
    </div>
    <div>
      <q-list>
        <q-item>
          <span style="margin: 30px;">区間</span>
          <span style="margin: 30px;">欠損実数値</span>
          <span style="margin: 30px;">欠損割合 (全体分の割合)</span>
        </q-item>
        <q-item  v-for="i in section" v-bind:key="i">
          <span style="margin: 30px;">{{i.Begin}} ~ {{i.End}}</span>
          <span style="margin: 30px;">{{i.Val}}</span>
          <span style="margin: 30px;">{{i.Ratio}}</span>
        </q-item>
      </q-list>
      <!--
      <q-table
        title="欠損率"
      >
        <q-tr>
          <q-th>区間</q-th>
          <q-th>欠損実数値</q-th>
          <q-th>欠損割合 (全体分の割合)</q-th>
        </q-tr>
        <q-tr v-for="i in section" v-bind:key="i">
          <q-td style="margin: 30px;">{{i.Begin}} ~ {{i.End}}</q-td>
          <q-td style="margin: 30px;">{{i.Val}}</q-td>
          <q-td style="margin: 30px;">{{i.Ratio}}</q-td>
        </q-tr>
      </q-table>
      -->
    </div>
    <div style="padding: 30px;">
      <line-chart></line-chart>
    </div>
  </div>
</template>

<script>
import linechart from '@/frontend/components/linechart'
import dropify from 'vue-dropify'
import { post } from '@/frontend/libs/post'
export default {
  components: {
    'vue-dropify': dropify,
    'line-chart': linechart
  },
  created() {
    this.$store.commit('initialize')
  },
  data () {
    return {
      basedata: [[]],
      section: [],
      sectionbase: '',
      file: {}
    }
  },
  methods: {
    process () {
      let param = new FormData()
      param.append('sectionbase', this.sectionbase)
      param.append('file', this.file)
      post('/api/getfile', param).then(res => {
        this.section = []
        this.basedata = res.data.Data
        this.$store.commit('setresult', this.basedata)
        let section = this.sectionbase.split(',')
        section.unshift(0)
        section.push(100)
        for (let i = 0; i < section.length - 1; i++) {
          let obj = {}
          obj.Begin = section[i] - 0
          obj.End = section[i + 1] - 0
          obj.Val = res.data.Result[i]
          obj.Ratio = res.data.Ratios[i]
          this.section.push(obj)
        }
      }).catch(res => {
        this.showNotif()
      })
    },
    setload (e) {
      this.file = e[0]
    },
    showNotif() {
      this.$q.notify({
        message: '解析用ファイルの形式が無効です。エラーレポートとして管理者に連絡をしてください。',
        position: 'bottom-left'
      })
    }
  }
}
</script>

<style>

</style>
