<template>
  <div>
    <div v-for="(date, i) in dates" v-bind:key="i">
      <h1 style="text-align: left;">{{date}}</h1>
      <!-- レーダチャートを作る -->
      <h3 style="text-align: left;">段取り</h3>
      <apexchart :options="first" :series="firstcharts"></apexchart>
      <h3 style="text-align: left;">理解</h3>
      <apexchart :options="second" :series="secondcharts"></apexchart>
      <h3 style="text-align: left;">持続・集中</h3>
      <apexchart :options="third" :series="thirdcharts"></apexchart>
      <h3 style="text-align: left;">丁寧さ</h3>
      <apexchart :options="fourth" :series="fourthcharts"></apexchart>
      <h3 style="text-align: left;">作業速度</h3>
      <div v-for="val in other" v-bind:key="val.id">
        <h6>不必要な中断: {{val.cancel}}</h6>
        <h6>所要時間: {{val.time}}分</h6>
        <h6>塗率: {{val.percent}}</h6>
        <h6>作業体制: {{val.possible}}</h6>
      </div>
    </div>
  </div>  
</template>

<script>
export default {
  created() {
    for(let i = 0;i < this.$store.state.check.val.length; i++) {
      this.dates.push(this.$store.state.check.date[i])
      let firstchart = [this.$store.state.check.val[i][0], this.$store.state.check.val[i][1], this.$store.state.check.val[i][2]]
      let secondchart = [this.$store.state.check.val[i][3], this.$store.state.check.val[i][4], this.$store.state.check.val[i][5]]
      let thirdchart = [this.$store.state.check.val[i][6], this.$store.state.check.val[i][7], this.$store.state.check.val[i][8]]
      let fourthchart = [this.$store.state.check.val[i][9], this.$store.state.check.val[i][10], this.$store.state.check.val[i][11]]
      let cancel = '無し'
      if (this.$store.state.check.val[i][12] === 'yes') {
        cancel = "有り"
      }
      let time = this.$store.state.check.val[i][13]
      let percent = this.$store.state.check.val[i][14]
      let possible = '不可'
      if (this.$store.state.check.val[i][15] === 'possible') {
        possible = "可"
      }
      this.firstcharts.push(
        {
          name: this.$store.state.check.date[i],
          data: firstchart
        }
      )
      this.secondcharts.push(
        {
          name: this.$store.state.check.date[i],
          data: secondchart
        }
      )
      this.thirdcharts.push(
        {
          name: this.$store.state.check.date[i],
          data: thirdchart
        }
      )
      this.fourthcharts.push(
        {
          name: this.$store.state.check.date[i],
          data: fourthchart
        }
      )
      this.other.push({
        date: this.$store.state.check.date[i],
        cancel: cancel,
        time: time,
        percent: percent,
        possible: possible
      })
      this.$store.commit('initialize')
      this.second = this.first
      this.third = this.first
      this.fourth = this.first
      this.second.chart.xaxis = {
        categories: ['色識別', '使用理解', '下絵理解']
      }
      this.third.chart.xaxis = {
        categories: ['集中', '塗残し','適切']
      }
      this.fourth.chart.xaxis = {
        categories: ['はみ出し', '効率', 'すき間']
      }
    }
  },
  data() {
    return {
      firstcharts: [],
      secondcharts: [],
      thirdcharts: [],
      fourthcharts: [],
      other: [],
      dates: [],
      first: {
        chart: {
          height: 200,
          type: 'radar'
        },
        xaxis: {
          categories: ['絵理解', '色理解', '適切な配置']
        }
      },
      second: {},
      third: {},
      fourth: {}
    }
  }
}
</script>

<style>

</style>