<template>
  <div class="q-pa-md">
    <q-table
      title="過去のデータ"
      :data="data"
      :columns="columns"
      row-key="id"
      :selected-rows-label="getSelectedString"
      selection="multiple"
      :selected.sync="selected"
    >
      <template v-slot:top-right>
        <q-btn
          v-if="selected.length > 0"
          color="negative"
          icon-right="delete"
          no-caps
          @click="delDialog"
        />
      </template>
      <template v-slot:body-cell-explain="props">
        <q-td :props="props">
          <q-btn dense round flat color="grey" @click="getcontents(props, 'exp')" icon="get_app"></q-btn>
        </q-td>
      </template>
      <template v-slot:body-cell-work="props">
        <q-td :props="props">
          <q-btn dense round flat color="grey" @click="getcontents(props, 'work')" icon="get_app"></q-btn>
        </q-td>
      </template>
      <template v-slot:body-cell-puzzle="props">
        <q-td :props="props">
          <q-btn dense round flat color="grey" @click="getcontents(props, 'check')" icon="get_app"></q-btn>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
  created () {
    // PatiendID を取得
    let param = new URLSearchParams()
    param.append('patientID', this.$store.state.home.PatientID)
    post('/api/readPatientData', param).then(res => {
      for (let i = 0;i < res.data.length; i++ ) {
        let obj = {}
        obj.containerID = res.data[i].ContainerID
        obj.date = res.data[i].Date
        obj.explain = JSON.parse('{ "Explain": ' + res.data[i].Explain + ' }').Explain
        obj.work = JSON.parse('{ "Work": ' + res.data[i].Work + ' }').Work
        let str = res.data[i].Check.split('"有り"').join('"yes"')
        str = str.split('"無し"').join('"no"')
        str = str.split('"可"').join('"possible"')
        str = str.split('"不可"').join('"impossible"')
        str = '{ "Check": ' + str + ' }'
        obj.check = JSON.parse(str).Check
        this.$store.commit('setcheck', obj)
        this.data.push(obj)
      }
    })
  },
  data () {
    return {
      selected: [],
      columns: [
        { name: 'date', align: 'left', label: 'Date', field: 'date', sortable: true },
        { name: 'explain', label: 'explain csv', field: '' },
        { name: 'work', label: 'work csv', field: '' },
        { name: 'puzzle', label: 'puzzle check csv', field: '' }
      ],
      data: [
      ]
    }
  },
  methods: {
    onSelect (item) {
      this.selected = item
    },
    getAlternateLabel (count) {
      let plural = ''
      if (count > 1) {
        plural = 's'
      }
      return `${count} data${plural} selected`
    },
    delDialog () {
      this.$q.dialog({
        dark: true,
        title: '削除確認',
        message: 'この操作は取り消しができません。',
        cancel: true
      }).onOk(() => {
        this.execDel()
      })
    },
    execDel () {
      let selectedidx = []
      let containerIDs = []
      for (let i = 0;i < this.data.length; i++) {
        for(let j = 0;j < this.selected.length; j++) {
          containerIDs.push(this.selected[j].containerID)
           if (this.selected[j].containerID === this.data[i].containerID) {
             selectedidx.push(i)
           }
        }
      }
      let params = new URLSearchParams()
      let val = JSON.stringify(containerIDs)
      params.append('containerID', val)
      post('/api/deleteData', params).then(() => {
        for(let i = selectedidx.length; i >= 0; i--) {
          this.data.splice(selectedidx[i], 1)
        }
      })
    },
    download (containerID, type) {
      let selected = {}
      for (let i = 0; i < this.data.length; i++) {
        if (containerID === this.data[i].containerID) {
          selected = this.data[i]
        }
      }
      let data = []
      if (type === 'exp') {
        data = selected.explain
      } else if (type === 'work') {
        data = selected.work
      } else if (type === 'check') {
        data = selected.check
      }
      let csv = ''
      for (let i = 0;i < data.length; i++) {
        let line = ''
        if (type === 'check') {
          if (data[i] === 'yes') {
            csv += '有り,'
          } else if (data[i] === 'no') {
            csv += '無し,'
          } else if (data[i] === 'possible') {
            csv += '可,'
          } else if (data[i] === 'impossible') {
            csv += '不可,'
          } else {
            csv += data[i] + ','
          }
        } else {
          for (let j = 0;j < data[i].length; j++){
            if (j === 0) {
              line = data[i][j]
            } else {
              line = line + ',' + data[i][j]
            }
          }
          csv += line + '\n'
        }
      }
      let bom  = new Uint8Array([0xEF, 0xBB, 0xBF]);
      let blob = new Blob([bom, csv], { type: 'text/csv' })
      let link = document.createElement('a')
      link.href = window.URL.createObjectURL(blob)
      link.download = 'Result.csv'
      link.click()
    },
    getSelectedString () {
      return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.data.length}`
    },
    getcontents(props, type) {
      let id = props.row.containerID
      // let type = props.col.name
      this.download(id, type)
    }
  }
}
</script>

<style>

</style>
