<template>
  <q-layout>
      <stepper ref="stepper" />
      <div v-if="step == 0">
          <resister :abcstepper="step" @input="step = $event" />
      </div>
      <div v-if="step == 1">
          <logger :abcstepper="step" @input="step = $event" />
      </div>
      <div v-if="step == 2">
          <logger :abcstepper="step" @input="step = $event" />
      </div>
      <div v-if="step == 3">
          <check />
      </div>
  </q-layout>
</template>

<script>
import stepper from '@/frontend/components/logged/logger/stepper.vue'
import resister from '@/frontend/components/logged/logger/resister.vue'
import logger from '@/frontend/components/logged/logger/logger.vue'
import check from '@/frontend/components/logged/logger/check.vue'
export default {
    watch: {
        step(nv, ov){
            this.next()
        }
    },
    components: {
        'stepper': stepper,
        'resister': resister,
        'logger': logger,
        'check': check
    },
    data () {
        return {
            step: 0
        }
    },
    methods: {
        next() {
            this.$refs.stepper.nextstep()
        }
    }
}
</script>

