<template>
    <div class="q-pa-md">
        <q-card>
            <div v-for="(q, i) in questions" v-bind:key="q.id">
            <q-card-section v-if="q.title != ''">
                <div style="text-align: left; font-size: 50px;">{{q.title}}</div>
            </q-card-section>
            <q-card-section>
                <q-card-section>
                <div class="md-title" style="text-align: left; font-size: 30px;">{{q.question}}</div>
                </q-card-section>
                <q-card-section style="text-align: center;">
                    <span v-for="(val, id) in selection[i].txt" v-bind:key="id">
                        <q-radio v-model="ans[i]" :val="on[i] - id" :label="val" style="font-size: 25px; margin: 15px;" v-if="i < 12"></q-radio>
                        <q-radio v-model="ans[i]" :val="val" :label="val" style="font-size: 25px;" v-if="i == 12 || i == 14 || i == 15"></q-radio>
                        <div v-if="i == 13">
                            <q-slider
                            v-model="ans[i]"
                            :min="1"
                            :max="30"
                            :step="1"
                            label
                            :label-value="ans[i] + '分'"
                            color="light-green"
                            />
                            <div style="font-size: 30px; text-align: center;">
                                {{ans[i]}}分
                            </div>
                        </div>
                    </span>
                </q-card-section>
            </q-card-section>
            </div>
            <q-card-section>
            <div style="text-align: center;">
                <q-btn size="22px" class="q-px-xl q-py-xs" color="primary" @click="submit">送信</q-btn>
            </div>
            </q-card-section>
        </q-card>
    </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
    created () {
        let q = []
        q.push({title: '段取り', question: '塗り絵を見て描かれている絵が何かわかる'})
        q.push({title: '', question: '必要な色鉛筆が確認できる(12色)'})
        q.push({title: '', question: '適切な配置ができる(色鉛筆 色番号用紙 パズル塗り絵)'})
        q.push({title: '理解', question: '色番号と色鉛筆の色を選別できる'})
        q.push({title: '', question: '下絵の番号が区別できる'})
        q.push({title: '', question: '塗り方が理解できる'})
        q.push({title: '持続・集中', question: '集中して塗り絵に取り組む'})
        q.push({title: '', question: '色番号毎に適切に塗れている'})
        q.push({title: '', question: '塗り残しがない'})
        q.push({title: '丁寧さ', question: '線からはみ出さずに塗れている'})
        q.push({title: '', question: '各々のピースを隙間なく塗っている'})
        q.push({title: '', question: '効率良く塗るため　紙の方向を変えている'})
        q.push({title: '作業速度', question: '不必要な中断がない'})
        q.push({title: '', question: '所要時間'})
        q.push({title: '', question: '塗り率(%)'})
        q.push({title: '作業体制', question: '30分程度塗り絵に取り組める'})
        this.questions = q
        let answer = []
        answer.push({txt: ['可', '確認', '口頭', '手添え', '困難']})
        answer.push({txt: ['可', '確認', '口頭', '手添え', '困難']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '再開', '口頭', '促し', '中断']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['可', '線', '面', '全体']})
        answer.push({txt: ['100%', '75%', '50%', '25%']})
        answer.push({txt: ['可', '確認', '口頭', '手添え']})
        answer.push({txt: ['有り', '無し']})
        answer.push({txt: [15]})
        answer.push({txt: ['100%', '75%', '50%', '25%']})
        answer.push({txt: ['可', '不可']})
        this.selection = answer
  },
  data () {
    return {
      questions: [],
      on: [5, 5, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 2, 1, 4, 2],
      ans: [null, null, null, null, null, null, null, null, null, null, null, null, null, 15, null, null],
      selection: [],
      err: false
    }
  },
  methods: {
    set (number, ans, e) {
      this.ans[number] = this.selection[number].txt.length - ans
    },
    validate () {
      for (let i = 0; i < this.ans.length; i++) {
        if (this.ans[i] === null) {
          return false
        }
      }
      return true
    },
    submit () {
      if (!this.validate()) {
          this.showNotif()
      } else {
        let param = new URLSearchParams()
        param.append('timestump', JSON.stringify(this.ans))
        param.append('type', 'check')
        param.append('containerid', this.$store.state.timestump.containerID)
        post('/api/insertTimeStump', param).then(() => {
          this.$router.push('/logged/home')
        })
      }
    },
    showNotif() {
      this.$q.notify({
        message: '入力の不備があります。',
        position: 'bottom-left'
      })
    }
  }
}
</script>

<style>

</style>