<template>
    <q-layout>
        <q-card style="margin: 15px; height: auto;">
            <q-card-section v-if="now == 2">
                <div class="text-h6">説明時</div>
                <div class="text-subtitle2">塗り絵の説明時のログをとります。</div>
            </q-card-section>
            <q-card-section v-if="now == 3">
                <div class="text-h6">作業時</div>
                <div class="text-subtitle2">塗り絵の作業時のログをとります。</div>
            </q-card-section>
            <q-card-section>
                <apexchart :options="chartOptions" :series="series" />
            </q-card-section>
            <q-card-section style="text-align: center;">
                <p style="font-size: 400%;">{{minite}}:{{second}}</p>
            </q-card-section>
            <q-card-section style="text-align: center;">
                <q-btn label="開始" color="primary" style="font-size: 200%; width: 25%; height: 75px; margin: 15px;" :disabled="!started || !ended" @click="start" />
                <q-btn label="終了" color="primary" style="font-size: 200%; width: 25%; height: 75px;" :disabled="started || !ended" @click="end" />
            </q-card-section>
            <q-card-section style="text-align: center;">
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" :disabled="started || !ended" @click="evaluation(4, '理解可')">理解可</q-btn>
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" :disabled="started || !ended" @click="evaluation(3, '要確認')">要確認</q-btn>
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" :disabled="started || !ended" @click="evaluation(2, '要説明')">要説明</q-btn>
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" :disabled="started || !ended" @click="evaluation(1, '手添え')">手添え</q-btn>
            </q-card-section>
            <q-card-section style="text-align: center;">
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" :disabled="started || !ended" @click="pop">取消し</q-btn>
            </q-card-section>
            <q-card-section style="text-align: center;">
                <q-btn color="primary" style="font-size: 200%; width: 22%; height: 75px; margin: 15px;" @click="nextstep" :disabled="started || ended">次へ</q-btn>
            </q-card-section>
        </q-card>
    </q-layout>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
    props: {
        abcstepper: Number
    },
    computed: {
        localParam: {
            get: function() {
                return this.abcstepper
            },
            set: function(abcstepper) {
                this.$emit('input', abcstepper) // おやでは @input に書いたメソッドがよばれる。
            }
        }
    },
    data() {
        return {
            now: 2,
            sec: 0,
            all: 1800,
            series: [{
                name: 'eval',
                data: [[0,2]]
            }],
            started: true,
            ended: true,
            timer: null,
            eval: [[0,2]],
            minite: '00',
            second: '00',
            chartOptions: {
                chart: {
                    animations: {
                        disable: false
                    },
                    type: 'pie',
                    background: '#fff'
                },
                labels: ['now', 'left'],
                grid: {
                    borderColor: '#90A4AE',
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    }
                },
                plotOptions: {
                    pie: {
                        customScale: 0.6,
                        offsetX: 0,
                        offsetY: 0,
                        donut: {
                            size: '65%'
                        }
                    }
                }
            }
        }
    },
    methods: {
        start () {
            this.started = false
            // 1秒進める
            this.timer = setInterval(this.addSecond, 1000)
        },
        end () {
            this.ended = false
            window.clearInterval(this.timer)
        },
        addSecond () {
            this.sec++
            this.series = [this.sec, 1800]
            let min = parseInt(this.sec / 60)
            let sec = this.sec % 60
            if (min < 10) {
                min = parseInt(min)
                this.minite = '0' + min.toString()
            } else {
                this.minite = min.toString()
            }
            if (sec < 10) {
                this.second = '0' + sec.toString()
            } else {
                this.second = sec.toString()
            }
            /*
            this.$refs.chart.updateSeries([{
                data: this.eval
            }], 1000)
            this.sec++
            // this.series = [this.sec, 1800]
            let min = this.sec / 60
            let sec = this.sec % 60
            if (min < 10) {
                min = parseInt(min)
                this.minite = '0' + min.toString()
            } else {
                this.minite = min.toString()
            }
            if (sec < 10) {
                this.second = '0' + sec.toString()
            } else {
                this.second = sec.toString()
            }
            */
        },
        evaluation (num, label) {
            this.eval.push([this.sec, num])
            console.log(this.series)
            this.series.push([this.sec, num])
            alert(label + 'が押されました。')
        },
        nextstep () {
            this.eval.unshift(['time', 'eval'])
            let param = new URLSearchParams()
            let timestumpType = ''
            console.log(this.$store.state.stepper.step)
            if (this.$store.state.stepper.step === 2) {
                timestumpType = 'exp'
            } else if (this.$store.state.stepper.step === 3) {
                timestumpType = 'work'
            }
            // 送信処理
            param.append('type', timestumpType)
            param.append('timestump', JSON.stringify(this.eval))
            param.append('containerid', this.$store.state.timestump.containerID)
            post('/api/insertTimeStump', param).then(res => {
                this.initialize()
                this.localParam++
                this.$scrollTo('#top')
            }).catch(res => {

            })
        },
        pop () {
            if (this.eval.length > 1) {
                this.eval.pop()
            }
        },
        initialize() {
            this.now = this.localParam
            this.eval = [[0,4]]
            this.sec = 0
            this.all = 1800
            this.series = [{
                name: 'eval',
                data: this.eval
            }]
            this.started = true
            this.ended = true
            this.timer = null
            this.minite = '00'
            this.second = '00'
            this.chartOptions = {
                chart: {
                    animations: {
                        disable: false
                    },
                    type: 'pie',
                    background: '#fff'
                },
                labels: ['now', 'left'],
                grid: {
                    borderColor: '#90A4AE',
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    }
                },
                plotOptions: {
                    pie: {
                        customScale: 0.6,
                        offsetX: 0,
                        offsetY: 0,
                        donut: {
                            size: '65%'
                        }
                    }
                }
            }
        }
    }
}
</script>

<style>

</style>