<template>
  <div>
      <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">患者情報入力</div>
      </q-card-section>
      
      <q-tabs v-model="selected" class="text-teal" align="left">
        <q-tab label="新規患者" name="new" />
        <q-tab label="過去の患者" name="already" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="selected" animated>
        <q-tab-panel name="new">
          <form>
            <q-input filled v-model="form.name" label="名前" style="margin: 15px;" />
            <q-radio filled v-model="form.gender" label="男性" val='man' style="margin: 15px;" />
            <q-radio filled v-model="form.gender" label="女性" val='woman' style="margin: 15px;" />
            <q-input filled v-model="form.age" type="number" label="age*" style="margin: 15px;" />
            <div style="text-align: right;">
              <q-btn style="margin: 15px;" color="primary" @click="submit">送信</q-btn>
            </div>
          </form>
        </q-tab-panel>

        <q-tab-panel name="already">
          <form>
            <q-select
                filled
                v-model="form.name"
                use-input
                input-debounce="0"
                label="patient name"
                :options="patients"
                @filter="filterFn"
            />
            <div style="text-align: right;">
              <q-btn style="margin: 15px;" color="primary"  @click="submit">送信</q-btn>
            </div>
          </form>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
    created () {
        this.$store.state.stepper.step = 1
        // 過去の患者の名前を取ってくる
        post('/api/readPatients', {}).then(res => {
            this.original = res.data
            this.patients = res.data
        })
    },
    props: {
        abcstepper: Number
    },
    computed: {
        localParam: {
            get: function() {
                return this.abcstepper
            },
            set: function(abcstepper) {
                this.$emit('input', abcstepper) // おやでは @input に書いたメソッドがよばれる。
            }
        }
    },
    data() {
        return {
            selected: 'new',
            form: {
                name: '',
                gender: '',
                age: ''
            },
            patients: [],
            original: []
        }
    },
    methods: {
        filterFn (val, update) {
            if (val === '') {
                update(() => {
                    this.patients = this.original
                })
                return
            }

            update(() => {
                const needle = val.toLowerCase()
                this.patients = this.original.filter(v => v.toLowerCase().indexOf(needle) > -1)
            })
        },
        submit() {
            this.nextstep()
        },
        nextstep () {
            this.createTimestump()
        },
        validate () {
            if (this.selected === 'new') {
                if (this.form.name.length === 0 || this.form.gender.length === 0 || this.form.age.length === 0) {
                    return false
                }
            } else {
                if (this.selectedPatient.length === 0) {
                    return false
                }
            }
            return true
        },
        createTimestump () {
            if (this.validate()) {
                let param = new URLSearchParams()
                if (this.selected === 'new') {
                    param.append('type', 'new')
                    param.append('name', this.form.name)
                    param.append('gender', this.form.gender)
                    param.append('age', this.form.age)
                } else {
                    param.append('type', 'already')
                    param.append('name', this.selectedPatient)
                }
                post('/api/startProcess', param).then(res => {
                    let containerID = res.data
                    this.$store.commit('setContainerID', containerID)
                })
                this.localParam++
            } else {
                this.showNotif()
            }
        },
        showNotif() {
            this.$q.notify({
                message: '入力項目に不備が有ります．再度入力してください．',
                position: 'bottom-left'
            })
        }
    }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 80%
  margin: 0 auto
</style>