<template>
  <div class="q-pa-md">
    <div id="top"></div>
    <q-stepper
      v-model="step"
      ref="stepper"
      contracted
      color="primary"
      animated
    >
      <q-step
        :name="1"
        title="患者の情報入力"
        icon="settings"
        :done="step > 1"
      >
        患者の情報を入力
      </q-step>
      <q-step
        :name="2"
        title="説明時のログ入力"
        icon="show_chart"
        :done="step > 2"
      >
      説明時の評価を入力
      </q-step>

      <q-step
        :name="3"
        title="作業時のログ入力"
        caption="Optional"
        icon="show_chart"
        :done="step > 3"
      >
      作業時の評価を入力
      </q-step>

      <q-step
        :name="4"
        title="パズルチェック"
        icon="check"
      >
      塗り絵の評価
      </q-step>
    </q-stepper>
  </div>
</template>

<script>
export default {
    created() {
        // this.step = this.$store.state.stepper.step
    },
    data() {
        return {
            step: 1
        }
    },
    methods: {
        nextstep() {
            this.$refs.stepper.next()
            this.$store.state.stepper.step++
        }
    }
}
</script>

<style>

</style>
