<template>
  <q-layout view="lHh Lpr lFf" id="app">
    <router-view />
  </q-layout>
</template>

<script>
import HelloWorld from '@/frontend/components/HelloWorld.vue';

export default {
  name: 'LayoutDefault',

  components: {
    HelloWorld,
  },

  data() {
    return {
      leftDrawerOpen: false,
    };
  },
};
</script>

<style>
</style>
