<template>
  <div>
    <Appheader :content-component="tablebody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/home/table.vue'
import header from '@/frontend/components/header.vue'
export default {
  components: {
    'Appheader': header
  },
  data() {
    return {
      tablebody: body
    }
  }
}
</script>

<style>

</style>