<template>
  <div>
    <Appheader :content-component="logger" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/logger/body.vue'
import header from '@/frontend/components/header.vue'
export default {
  components: {
    'Appheader': header
  },
  data() {
    return {
      logger: body
    }
  }
}
</script>

<style>

</style>